/* :root {
    --body-heading: #121315;
    --body-text: #415674;
    --body-soft_bg: #f6f8fa;
    --primary: #4A6CF7;
    --secondary: #4A6CF7;
    --primaryRGB: 255 80 65;
    --theme-3: #16171b;
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Poppins', sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }